<%- include("partials/header"); -%>
<body>
    <div id="header">
        
        <img src="/css/clipboard.png">
        Forms
    </div>
    <div id="form">
        <form action="/storeresponses/<%=uniqueuser%>/<%=uniqueform%>" method="POST">
            <%for(var i=0;i<questions.length;i++){%>
                <div class="queries">
            <label><%=questions[i]%></label>
            <textarea class="form-control" rows="2" name="answers<%=i%>"></textarea>
        </div>
            <%}%>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
        
        <%- include("partials/footer"); -%>