<%- include("partials/header"); -%>
<body>
    <img src="/css/clipboard.png" height="80px" width="80px">
    Forms

    <div id="form">

        <%for(var i=0;i<questions.length;i++){%>
            <div class="written">
                <form action="/deleteQuery" method="POST">

                    <%=questions[i]%><br>
                    <hr>
                    <button type="submit" value="<%=questions[i]%>" name="delete"><i class="fas fa-trash-alt"></i></button>
                
                </form>
            </div>
            <%}%>

        <form action="/form" method="POST">
            <div id="writing">
                
                <textarea class="form-control" rows="2" name="question"></textarea>
                <hr>
                <button type="submit"><i class="fas fa-plus"></i></button>
            </div>
        </form>

            <%if(uniqueform!=0){%>
            <a href="/createForm/<%=uniqueuser%>/<%=uniqueform%>"><button type="button" class="btn btn-dark">Create</button></a>
            <%}%>

    </div>
        <%- include("partials/footer"); -%>